@import '//fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic&subset=latin,latin-ext';
@import '../fontello/css/icon.css';
.font{
	.primary{
		font-family:Arial,Helvetica,sans-serif;
	}
	.header{
		font-family:'Archivo Narrow',sans-serif;
	}
	.icon{
		font-family:'icon';
	}
}
