#page{
	overflow: hidden;
}
#content{
	margin: 0 0 50px;
}
#wrapper{
	position: relative;
	z-index: 9999;
	margin: -29px 0 0;
	padding: 95px 0 15px;
	min-width: 980px;
	overflow: hidden;
	background: url(../images/bg/05.png) no-repeat top;
	#container{
		width: 940px;
		padding: 0 20px;
		margin: auto;
		text-align: left;
		.clearfix;
		#col-main{
			width: 680px;
			float: right;
			#col-center{
				width: 420px;
				float: left;
			}
			#col-right{
				width: 220px;
				float: right;
			}
		}
		#col-left{
			width: 220px;
			float: left;
		}
	}
	.slideshow-pager{
		position: absolute;
		z-index: 99999;
		top:9px;
		left: 50%;
		width: 440px;
		text-align: right;
		span{
			display: inline-block;
			color: #fff;
			width: 14px;
			height: 14px;
			border: 7px solid #cbe1df;
			background: #fff;
			margin: 0 0 0 4px;
			cursor: pointer;
			.border-radius(14px;);
			&.cycle-pager-active{
				background: @color-link;
				color: @color-link;
			}
		}
	}
}
#page-header{
	position: relative;
	z-index: 99999;
	height: 265px;
	min-width: 980px;
	margin: 0 0 -123px;
	text-align: left;
	background: url(../images/bg/01.png) repeat-x top;
	#page-header-in{
		position: relative;
		width: 940px;
		padding: 0 20px;
		margin: auto;
		.clearfix;
	}
	.logo a{
		position: relative;
		display: block;
		float: left;
		margin: 92px 0 0 67px;
		width: 100px;
		height: 120px;
		text-indent: -9999px;
		background: url(../images/logo/01.png) no-repeat center;
	}
	.charitas{
		float: left;
		margin: 58px 0 0 91px;
	}
	ul.menu-tools{
		.reset.ul;
		position: absolute;
		bottom:1px;
		right: 23px;
		li{
			.reset.li;
			margin: 0 0 0 6px;
			float: left;
			a{
				display: block;
				position: relative;
				width: 78px;
				height: 73px;
				color: #fff;
				.text-shadow(-1px -1px 0 fade(#000,30%));
				.transition(color 0.2s);
				font-size: 22px;
				background: url(../images/bg/03.png) no-repeat;
				text-indent: -9999px;
				text-decoration: none;
				&.icon-home{
					font-size: 28px;
					top: -3px;
					left: -1px;
				}
				&.icon-mail-alt{
					top: -2px;
				}
				&:hover{
					color: @color-link;
					.text-shadow(1px 1px 0 #fff);
					background-position: bottom;
				}
				&:before{
					position: absolute;
					left: 0;
					top:0;
					width: 100%;
					height: 100%;
					line-height: 73px;
					text-align: center;
					text-indent: 0;
					margin: 0;
				}
			}
		}
	}
}
#col-bottom{
	position: relative;
	z-index: 2;
	min-width: 980px;
	overflow: hidden;
	background: #e6f0f0;
	&:before,&:after{
		position: absolute;
		content: '';
		top: 0;
		left: 50%;
		margin-left: 220px;
		width: 350px;
		height: 80px;
		background: url(../images/bg/09.png) no-repeat;
	}
	&:after{
		top: auto;
		bottom: 0;
		margin-left: -490px;
		background: url(../images/bg/10.png) no-repeat left bottom;
	}
	.inner{
		.clearfix;
		margin: auto;
		width: 940px;
		padding: 52px 20px 70px;
		text-align: left;
	}
}
#banners{
	position: relative;
	z-index: 1;
	min-width: 980px;
	background: #fff;
	.box-shadow(0 0 6px fade(#000,90%));
	.inner{
		padding: 20px 20px 12px;
		width: 940px;
		margin: auto;
	}
}
#page-footer{
	position: relative;
	height: 311px;
	min-width: 980px;
	background: url(../images/bg/11.jpg) repeat-x top;
	.bg{
		background: #fff;
		background: fade(#fff,60%);
		.box-shadow(0 0 6px fade(#000,90%));
		.inner{
			.clearfix;
			width: 940px;
			padding: 25px 20px 16px;
			margin: auto;
			text-align: left;
			color: #000;
			font-size: 12px;
			a{
				color: #000;
			}
			.copy{
				float: left;
				width: 655px;
				padding: 0 0 0 25px;
				p{
					margin: 0;
				}
			}
			.xart{
				float: right;
				width: 245px;
				letter-spacing: -1px;
				padding: 3px 15px 0 0;
				text-align: right;
				font-size:  10px;
				text-transform: uppercase;
				a{
					text-decoration: none;
				}
				img{
					float: right;
					margin: -4px 0 0 10px;
				}
			}
		}
	}
}