.mod_search{
	position: relative;
	float: right;
	width: 400px;
	margin: 58px 2px 0;
	input[type=text]{
		.reset.input;
		float: right;
		height: 15px;
		font-size: 13px;
		padding: 9px 35px 9px 18px;
		width: 186px;
		color: #969696;
		background: #fff;
		outline: 0;
		border: 1px solid #c1c3c2;
		border-bottom-color: #fff;
		border-right-color: #fff;
		.border-radius(4px);
		&:focus{
			border-color: lighten(@color-link,80%);
		}
	}
	input[type=submit]{
		.reset.input;
		.font.icon;
		.transition(color 0.2s);
		position: absolute;
		top:0;
		right: 0;
		width: 39px;
		height: 37px;
		border-bottom: 4px transparent;
		color: @color-link;
		font-size: 24px;
		&:hover{
			color: #000;
		}
	}
}
.mod_custom-slideshow{
	position: relative;
	z-index: 9999;
	height: 423px;
	min-width: 980px;
	background: url(../images/bg/04.png) no-repeat top;
	&:before{
		position: absolute;
		z-index: 9999;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../images/bg/04.png) no-repeat top;
	}
	ul{
		.reset.ul;
		position: absolute;
		top: 0;
		width: 1020px;
		left: 50%;
		margin-left: -305px;
		li{
			.reset.li;
		}
	}
	.box{
		position: absolute;
		z-index: 99999;
		text-align: left;
		left: 50%;
		margin-left: -447px;
		top:158px;
		width: 240px;
		color: #fff;
		font-size: 16px;
		line-height: 1.7;
		a{
			color: #fff;
		}
		.mod-title{
			.font.header;
			font-size: 36px;
			line-height: 1;
			color: #c2dcda;
			margin: 0 0 15px;
			font-weight: normal;
		}
		p{
			font-weight: bold;
			margin: 0 0 26px;
		}
		nav{
			a{
				.btn;
				.btn.white;
				.border-radius(3px);
				padding: 7px 33px;
			}
		}
	}
}
.mod_custom-slogan{
	position: relative;
	z-index: 9999;
	min-height: 150px;
	min-width: 980px;
	background: url(../images/bg/04.png) no-repeat top;
	&:before{
		position: absolute;
		z-index: 9998;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../images/bg/04.png) no-repeat top;
	}
	.content{
		position: relative;
		z-index: 9999;
		.font.header;
		padding: 80px 44px 0 486px;
		margin: auto;
		width: 450px;
		color: #000;
		text-align: left;
		font-size: 36px;
		line-height: 1;
	}
	figure{
		position: absolute;
		top: 0;
		margin: 0;
		padding: 0;
		width: 1020px;
		height:100%;
		left: 50%;
		margin-left: -305px;
		overflow: hidden;
	}
}
.mod_custom-intro{
	position: relative;
	line-height: 1.3;
	&:before{
		.font.icon;
		position: absolute;
		z-index: -1;
		top:-28px;
		right: 18px;
		content: '\e809';
		font-size: 31px;
		line-height: 1;
		color: @color-light;
		width: 82px;
		height: 107px;
		padding: 27px 0 0 84px;
		background: url(../images/bg/06.png) no-repeat;
	}
	.mod-title{
		.font.header;
		font-size: 30px;
		line-height: 1;
		margin: -4px 0 18px;
		font-weight: normal;
		width: 280px;
	}
	p{
		margin: 0 0 21px;
	}
	.more{
		.btn;
		.btn.dark;
		padding: 7px 28px;
		font-size: 14px;
	}
}
.mod_custom-intro{
	position: relative;
	line-height: 1.3;
	margin: 0 0 46px;
	&:before{
		.font.icon;
		position: absolute;
		z-index: -1;
		top:-28px;
		right: 18px;
		content: '\e809';
		font-size: 31px;
		line-height: 1;
		color: @color-light;
		width: 82px;
		height: 107px;
		padding: 27px 0 0 84px;
		background: url(../images/bg/06.png) no-repeat;
	}
	h2{
		.font.header;
		font-size: 30px;
		line-height: 1;
		margin: -4px 0 18px;
		font-weight: normal;
		width: 280px;
	}
	p{
		margin: 0 0 21px;
	}
	.more{
		.btn;
		.btn.dark;
		padding: 7px 28px;
		font-size: 14px;
	}
}
.mod_newsflash_xart{
	position: relative;
	margin: 0 0 46px;
	&:before{
		.font.icon;
		position: absolute;
		z-index: -1;
		top:-28px;
		right: 18px;
		content: '\e80d';
		font-size: 31px;
		line-height: 1;
		color: @color-light;
		width: 82px;
		height: 107px;
		padding: 27px 0 0 84px;
		background: url(../images/bg/06.png) no-repeat;
	}
	h2{
		.font.header;
		font-size: 30px;
		line-height: 1;
		margin: -4px 0 18px;
		font-weight: normal;
		width: 280px;
	}
	.item{
		position: relative;
		padding: 9px 0 7px 134px;
		line-height: 1.3;
		min-height: 100px;
		time{
			position: absolute;
			left: 0;
			top: 0;
			.year{
				position: absolute;
				left: 14px;
				top: 10px;
				display: block;
				width: 94px;
				height: 96px;
				padding: 0 2px 0 0;
				font-size: 21px;
				line-height: 66px;
				.font.header;
				text-align: right;
				color: #fff;
				background: #d9e3e3;
				.border-radius(48px);
			}
			.day{
				position: absolute;
				z-index: 1;
				left: -2px;
				top: 26px;
				display: block;
				width: 60px;
				height: 66px;
				line-height: 66px;
				padding: 0 6px 0 0;
				font-size: 30px;
				font-weight: bold;
				.font.header;
				text-align: center;
				color: #fff;
				background: @color-link;
				.border-radius(33px);
			}
			.month{
				position: absolute;
				z-index: 2;
				left: 47px;
				top: 54px;
				display: block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				font-size: 21px;
				.font.header;
				text-align: center;
				color: #fff;
				background: #ff0004;
				.border-radius(20px);
			}
		}
		.title{
			font-weight: bold;
			margin: 0 0 10px;
		}
	}
	.more{
		.btn;
		.btn.dark;
		padding: 7px 28px;
		font-size: 14px;
	}
}
.mod_custom-kontakt{
	position: relative;
	margin: 0 0 50px;
	&:before{
		position: absolute;
		content: '\e80a';
		.font.icon;
		top:-20px;
		right: -25px;
		width: 33px;
		height: 60px;
		padding: 25px 0 0 32px;
		font-size: 22px;
		line-height: 1;
		color: @color-light;
		background: url(../images/bg/07.png) no-repeat right;
	}
	h3{
		.font.header;
		font-size: 26px;
		color: #878787;
		line-height: 1;
		margin: -4px 0 18px;
		font-weight: normal;
	}
	.map{
		margin: 0 -11px 15px;
		padding: 9px 0;
	}
	p{
		margin: 0 0 16px;
	}
	.phone{
		position: relative;
		padding: 0 0 0 40px;
		&:before{
			position: absolute;
			content: '\e80e';
			left: 0;
			top: -7px;
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 24px;
			text-align: center;
			.font.icon;
			color: #fff;
			background: @color-link;
			.border-radius(15px);
		}
	}
	.email{
		position: relative;
		padding: 0 0 0 40px;
		&:before{
			position: absolute;
			content: '\e80f';
			left: 0;
			top: -7px;
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 22px;
			text-align: center;
			.font.icon;
			color: #fff;
			background: @color-light;
			.border-radius(15px);
		}
	}
}
.mod_random_image{
	position: relative;
	padding: 44px 0 0;
	margin: 0 0 50px;
	background: url(../images/bg/08.png) repeat-x;
	&:before{
		position: absolute;
		content: '\e810';
		.font.icon;
		top: 20px;
		right: -25px;
		width: 37px;
		height: 58px;
		padding: 27px 0 0 28px;
		font-size: 18px;
		line-height: 1;
		color: @color-light;
		background: url(../images/bg/07.png) no-repeat right;
	}
	h3{
		.font.header;
		font-size: 26px;
		color: #878787;
		line-height: 1;
		margin: -4px 0 18px;
		font-weight: normal;
	}
	.random-image{
		padding: 0 0 0 10px;
		img{
			border: 10px solid #fff;
			.box-shadow(1px 1px 6px #91abab);
			.rotate(-8deg);
		}
	}
}
.mod_mainmenu{
	position: relative;
	background: #fff;
	padding: 38px 25px 10px;
	margin: 0 0 10px;
	.border-radius(3px);
	&:before{
		position: absolute;
		content: '\e805';
		.font.icon;
		top:10px;
		left: -25px;
		width: 46px;
		height: 57px;
		padding: 28px 0 0 19px;
		font-size: 15px;
		line-height: 1;
		color: @color-light;
		background: url(../images/bg/07.png) no-repeat;
	}
	ul{
		.reset.ul;
		li{
			.reset.li;
			font-size: 13px;
			line-height: 1.2;
			margin: 0 0 10px;
			&.act>a{
				color: @color-link;
				font-weight: bold;
			}
			a{
				color: #4f4f4f;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		ul{
			padding: 10px 0 0 20px;
			li{
				font-size: 12px;
				margin: 0 0 5px;
				&.act>a{
					font-weight: normal;
				}
				&:before{
					.font.icon;
					top: 3px;
					font-size: 7px;
					left: -13px;
					content: '\e805';
				}
			}
		}
	}
}
.mod_poll{
	position: relative;
	background: #fff;
	padding: 23px 25px;
	margin: 0 0 10px;
	font-size: 13px;
	.border-radius(3px);
	&:before{
		position: absolute;
		content: '\e80b';
		.font.icon;
		top:0;
		left: -25px;
		width: 50px;
		height: 60px;
		padding: 25px 0 0 15px;
		font-size: 18px;
		line-height: 1;
		color: @color-light;
		background: url(../images/bg/07.png) no-repeat;
	}
	.mod-title{
		.font.header;
		margin: 0 0 10px;
		font-size: 26px;
		line-height: 1;
		color: #878787;
	}
	label{
		position: relative;
		display: block;
		color: @color-link;
		padding: 0 0 0 22px;
		font-size: 12px;
		margin: 0 0 9px;
		input{
			position: absolute;
			left: 0;
			top: 1px;
			margin: 0;
			padding: 0;
		}
	}
	.buttons{
		padding: 10px 0 0 3px;
		a,input{
			.btn;
			.btn.primary;
		}
	}
}
.mod_custom-faq{
	position: relative;
	z-index: 1;
	width: 320px;
	margin: 0 0 0 25px;
	float: left;
	.mod-title{
		.font.header;
		font-size: 26px;
		color: #878787;
		line-height: 1;
		margin: 0 0 26px;
		font-weight: normal;
		small{
			display: block;
			padding: 10px 0 0;
			font-size: 14px;
			.font.primary;
		}
	}
	.ques{
		position: relative;
		padding: 0 0 5px 43px;
		font-size: 13px;
		font-weight: bold;
		color: @color-link;
		&:before{
			position: absolute;
			left: 0;
			top: -7px;
			.font.icon;
			content: '\e811';
			color: @color-light;
			font-size: 22px;
			line-height: 30px;
			background: #fff;
			text-align: center;
			width: 30px;
			height: 30px;
			.border-radius(15px;);
		}
	}
	.answ{
		position: relative;
		padding: 0 0 0 43px;
		font-size: 13px;
		&:before{
			position: absolute;
			left: 0;
			top: -7px;
			.font.icon;
			content: '\e80b';
			color: @color-light;
			font-size: 18px;
			line-height: 30px;
			background: #fff;
			text-align: center;
			width: 30px;
			height: 30px;
			.border-radius(15px;);
		}
		.more{
			position: relative;
			display: inline-block;
			padding: 0 0 0 12px;
			white-space: nowrap;
			&:before{
				position: absolute;
				left: 0;
				top: 4px;
				content: '\e805';
				.font.icon;
				font-size: 10px;
				color: @color-primary;
			}
		}
	}
}
.mod_custom-schranka{
	position: relative;
	z-index: 1;
	width: 280px;
	float: left;
	margin: 0 0 0 54px;
	font-size: 13px;
	.mod-title{
		.font.header;
		font-size: 26px;
		color: #878787;
		line-height: 1;
		margin: 0 0 20px;
		font-weight: normal;
		small{
			display: block;
			padding: 10px 0 0;
			font-size: 14px;
			.font.primary;
		}
	}
	nav{
		a{
			.btn;
			.btn.black;
		}
	}
}
.mod_custom-banners{
	position: relative;
	z-index: 1;
	width: 200px;
	float: right;
	padding: 76px 20px 0 0;
	ul{
		.reset.ul;
		li{
			.reset.li;
			margin: 0 0 10px;
		}
	}
}
.mod_banners{
	position: relative;
	padding: 0 90px;
	ul{
		.reset.ul;
		.clearfix;
		li{
			.reset.li;
			float: left;
			margin: 0 40px 0 0;
		}
	}
	.icon-fast-bw,.icon-fast-fw{
		position: absolute;
		left: 24px;
		top: 26px;
		height: 30px;
		width: 26px;
		padding: 0 4px 0 0;
		line-height: 30px;
		text-align: center;
		font-size: 15px;
		color: #fff;
		background: @color-light;
		.border-radius(15px);
		.transition(0.3s);
		&:hover{
			background: @color-link;
		}
	}
	.icon-fast-fw{
		left: auto;
		right: 24px;
		padding: 0 0 0 4px;
	}
	.cycle-carousel-wrap{
		width: 99999em;
		white-space: nowrap;
	}
}
