html,button,input,select,textarea{
	.font.primary;
}
body{
	font-size:14px;
	line-height:1.4;
	text-align:center;
	background: #fff url(../images/bg/02.jpg) repeat-x top;
	color:@color-primary;
}
a{
	color: @color-link;
	cursor:pointer;
}
h1,h2,h3,h4,h5,h6{
	margin:0 0 20px 0;
}
h1{
	font-size:30px;
	.font.header;
	font-weight: normal;
}
h2{
	font-size:24px;
	.font.header;
	font-weight: normal;
}
h3{
	font-size:20px;
	.font.header;
	font-weight: normal;
}
h4{
	font-size:14px;
}
p{
	margin:0 0 20px 0;
}
ul,ol{
	padding:0;
	margin:0 0 20px 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom:0;
}
ul li{
	position:relative;
	list-style-type:none;
	padding:0 0 0 20px;
	margin:0;
	&:before{
		position:absolute;
		top:0;
		left:0;
		content:'\203a';
	}
	ul{
		padding:10px 0;
	}
}
ol{
	list-style:decimal;
	li{
		margin:0 0 0 20px;
	}
	ol{
		padding: 10px 0;
	}
}
hr{
	margin:0 0 20px 0;
	border:0;
	border-top:1px solid lighten(@color-primary,60%);
}
strong{
	font-weight:bold;
}
em{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align:baseline;
	font-size:60%;
	line-height:1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
a{
	cursor:pointer;
	&:hover{
		text-decoration:none;
	}
}
