.clearfix{
	*zoom:1;
	&:before,&:after{
		display:table;
		content:"";
	}
	&:after{
		clear:both;
	}
}
.opacity(@n:0.5){
	-webkit-opacity: @n;
	-moz-opacity: @n;
	-ms-opacity: @n;
	-o-opacity: @n;
	opacity: @n;
	@n100 : @n * 100;
	filter:alpha(opacity=@n100);
}
.reset{
	.ul{
		margin: 0;
		padding: 0;
	}
	.li{
		margin: 0;
		padding: 0;
		&:before{
			content: '';
		}
	}
	.input{
		margin: 0;
		padding: 0;
		border: 0;
		background: transparent;
	}
}