
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e814'; } /* '' */
.icon-camera:before { content: '\e810'; } /* '' */
.icon-help-circled:before { content: '\e811'; } /* '' */
.icon-home:before { content: '\e800'; } /* '' */
.icon-keyboard:before { content: '\e80f'; } /* '' */
.icon-comment:before { content: '\e80b'; } /* '' */
.icon-comment-empty:before { content: '\e80c'; } /* '' */
.icon-location:before { content: '\e80a'; } /* '' */
.icon-direction:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e808'; } /* '' */
.icon-fast-fw:before { content: '\e812'; } /* '' */
.icon-fast-bw:before { content: '\e813'; } /* '' */
.icon-mobile:before { content: '\e80e'; } /* '' */
.icon-circle-empty:before { content: '\e803'; } /* '' */
.icon-megaphone:before { content: '\e80d'; } /* '' */
.icon-sitemap:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\e807'; } /* '' */