@font-face {
  font-family: 'icon';
  src: url('../font/icon.eot?83020498');
  src: url('../font/icon.eot?83020498#iefix') format('embedded-opentype'),
       url('../font/icon.woff?83020498') format('woff'),
       url('../font/icon.ttf?83020498') format('truetype'),
       url('../font/icon.svg?83020498#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon';
    src: url('../font/icon.svg?83020498#icon') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e814'; } /* '' */
.icon-camera:before { content: '\e810'; } /* '' */
.icon-help-circled:before { content: '\e811'; } /* '' */
.icon-home:before { content: '\e800'; } /* '' */
.icon-keyboard:before { content: '\e80f'; } /* '' */
.icon-comment:before { content: '\e80b'; } /* '' */
.icon-comment-empty:before { content: '\e80c'; } /* '' */
.icon-location:before { content: '\e80a'; } /* '' */
.icon-direction:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-up-open:before { content: '\e808'; } /* '' */
.icon-fast-fw:before { content: '\e812'; } /* '' */
.icon-fast-bw:before { content: '\e813'; } /* '' */
.icon-mobile:before { content: '\e80e'; } /* '' */
.icon-circle-empty:before { content: '\e803'; } /* '' */
.icon-megaphone:before { content: '\e80d'; } /* '' */
.icon-sitemap:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\e807'; } /* '' */